@model IEnumerable<Person>


@{
    ViewData["Title"] = "Home Page";
}
@{
    var date = (DateTime)ViewBag.Date;
}
<div class="text-center">
    <h1 class="display-4">Welcome time now: @((DateTime)ViewData["Date"])</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<form method="post" asp-controller="Home" asp-action="AddPerson">
    <label>Name</label>
    <input type="text"/>
    <label>Age</label>
    <input type="number"/>
</form>
